<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="h-100" fxLayout="row">
  <div class="lft" layout="m-10">
    <mat-list layout="m-t-40 m-b-40 m-l-20 m-r-20">
      <div *ngFor="let item of foodList; let i = index;">
        <mat-list-item>{{item.foodName}}</mat-list-item>
        <mat-divider *ngIf="i != foodList.length"></mat-divider>
      </div>
    </mat-list>
  </div>
  <div class="rght" layout="m-10 p-t-40 p-b-40 p-l-20 p-r-20" fxLayout="column" fxAlign="center center" fxGap="2">
    <div class="form" layout="p-20">
      <form fxLayout="column" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <input matInput name="foodName" ngModel #foodName="ngModel" placeholder="Ex. Pizza" [required]="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Leave a comment</mat-label>
          <textarea matInput name="foodComment" ngModel #foodComment="ngModel" placeholder="Ex. It makes me feel..."
            [required]="true"></textarea>
        </mat-form-field>
        <div fxAlign="end">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="form" layout="p-20">
      <form fxLayout="column" #restForm="ngForm" (ngSubmit)="addRestaurant(restForm)">
        <mat-form-field>
          <mat-label>Favorite Restaurant</mat-label>
          <input matInput name="restName" ngModel #restName="ngModel" placeholder="Restaurant Name" [required]="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Leave a Rating</mat-label>
          <textarea matInput name="restRating" ngModel #restRating="ngModel" placeholder="Ex. It makes me feel high..."
            [required]="true"></textarea>
        </mat-form-field>
        <div fxAlign="end">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>