<mat-toolbar color="primary" fxAlign="space-between center">
  <div fxLayout="row" fxAlign="center center" fxGap="20">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
  </div>
  <div fxLayout="row" fxGap="20">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button layout="m-r-20">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="h-100" fxLayout="row">
  <div class="lft" layout="m-10">
    <h3 layout="m-l-20 m-t-10">Food List ({{foodList.length}})</h3>
    <mat-list class="list-scroll" layout="m-b-40 m-l-20 m-r-20">
      <mat-list-item *ngFor="let item of foodList; let i = index;" (click)="onFoodSelect(item)">
        <p>{{ item.foodName }}</p>
        <mat-divider *ngIf="i != foodList.length"></mat-divider>
      </mat-list-item>
    </mat-list>
    <h3 layout="m-l-20 m-t-10 m-b-10">Restaurant List ({{restList.length}})</h3>
    <mat-list class="list-scroll" layout="m-b-40 m-l-20 m-r-20">
      <mat-list-item *ngFor="let item of restList; let i = index;" (click)="onRestroSelect(item)">
        <p>{{ item.restName }}</p>
        <mat-divider *ngIf="i != foodList.length"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="rght" layout="m-10 p-t-40 p-b-40 p-l-20 p-r-20" fxLayout="column" fxAlign="center center" fxGap="2">
    <div class="form" layout="p-20">
      <form fxLayout="column" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <input matInput name="foodName" ngModel #foodName="ngModel" placeholder="Ex. Pizza" [required]="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Leave a comment</mat-label>
          <textarea matInput name="foodComment" ngModel #foodComment="ngModel" placeholder="Ex. It makes me feel..."
            [required]="true"></textarea>
        </mat-form-field>
        <div fxAlign="end" fxGap="6">
          <div>
            <button mat-button color="yellow" type="button" (click)="food.click()">Upload
              Image</button>
            <input type="file" name="uploadFood" hidden #food (change)="onFoodImageUpload($event)">
          </div>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="form" layout="p-20">
      <form fxLayout="column" #restForm="ngForm" (ngSubmit)="addRestaurant(restForm)">
        <mat-form-field>
          <mat-label>Favorite Restaurant</mat-label>
          <input matInput name="restName" ngModel #restName="ngModel" placeholder="Restaurant Name" [required]="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Leave a Rating</mat-label>
          <textarea matInput name="restRating" ngModel #restRating="ngModel" placeholder="Ex. It makes me feel high..."
            [required]="true"></textarea>
        </mat-form-field>
        <div fxAlign="end" fxGap="6">
          <div>
            <button mat-button color="yellow" type="button" (click)="restaurant.click()">Upload
              Image</button>
            <input type="file" name="uploadRestro" hidden #restaurant (change)="onRestImageUpload($event)">
          </div>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>