.custom-bottom-sheet .mat-bottom-sheet-container {
  width: inherit;
}

.file-box {
  padding: 6px 14px;
  background: #e1e1e1;

  border-radius: 6px;
}

.file-name {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.crs-icn {
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}

.crs-icn:hover {
  color: #999;
}

.crs-icn:active {
  color: #444;
}