<div *ngIf="mode === 'DELETE'" fxHeight="30vh" fxWidth="100%" fxLayout="column" fxAlign="space-between center">
  <h3 layout="m-t-20">Do you want to delete this item?</h3>
  <div layout="m-b-20" fxWidth="100%" fxAlign="center center" fxGap="10">
    <button fxWidth="30%" color="primary" mat-stroked-button (click)="btmShtRef.dismiss();">Cancel</button>
    <button fxWidth="30%" color="warn" mat-raised-button (click)="btmShtRef.dismiss(true);">Delete</button>
  </div>
</div>
<div *ngIf="mode === 'EDIT'" fxHeight="50vh" fxWidth="100%" fxLayout="column" fxAlign="center center" fxGap="10">

  <h3>Edit Item</h3>
  <div fxWidth="80%" fxLayout="column">
    <mat-form-field>
      <mat-label>Favorite Restaurant</mat-label>
      <input matInput placeholder="Restaurant Name" [(ngModel)]="name" [required]="true">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Leave a Rating</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel high..." [(ngModel)]="desc" [required]="true"></textarea>
    </mat-form-field>
    <div fxWidth="100%" fxLayout="row" fxAlign="space-between center">
      <div class="file-box" fxWidth="50%" fxAlign="space-between center">
        <span class="file-name" [matTooltip]="file.name">{{file.name}}</span>
        <mat-icon class="crs-icn" (click)="onRemoveFile()">cancel</mat-icon>
      </div>
      <div fxWidth="50%" fxAlign="end center">
        <button mat-button color="yellow" type="button" [disabled]="file['type'] != undefined"
          (click)="imgFile.click()">Upload New
          Image</button>
        <input type="file" name="uploadRestro" hidden #imgFile (change)="onUploadFile($event)">
      </div>
    </div>
  </div>
  <div layout="m-b-20" fxWidth="100%" fxAlign="center center" fxGap="10">
    <button fxWidth="30%" color="warn" mat-stroked-button (click)="btmShtRef.dismiss();">Cancel</button>
    <button fxWidth="30%" color="blue" mat-raised-button (click)="onEditItem()">Update</button>
  </div>
</div>