<div fxLayout="row" fxAlign="space-between center">
  <h3>{{this.data?.data?.name}}</h3>
  <button mat-icon-button>
    <mat-icon color="warn" (click)="onDeleteItem()">delete</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="img-box" layout="m-t-10 m-b-10 p-10" fxHeight="220px" fxWidth="360px">
    <img fxHeight="220px" fxWidth="360px" [src]="this.data.data?.image" [alt]="this.data.data?.name">
  </div>
  <div fxWidth="300px">
    <h4>Description</h4>
    <div class="desc-box" layout="p-6">
      <h4 *ngIf="this.data?.type === 'REST'">{{this.data?.data?.desc}}</h4>
      <span *ngIf="this.data?.type !== 'REST'">{{this.data?.data?.desc}}</span>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>